.tab-fullscreen {
  height: 95vh;
}

.firstTimeBody {
  background: var(--secondary-color);
}

#modal-portrait {
  border: var(--primary-color) solid 5px;
  background: var(--primary-color);
  color: white;
}

.rotate-phone {
  rotate: 45deg;
  animation-name: rotatePhone;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes rotatePhone {
  0% {
    rotate: 45deg;
  }
  70% {
    rotate: -45deg;
  }
  100% {
    rotate: 45deg;
  }
}
